body {
  margin: 0;
  background-color: lightblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  color: white;
  margin: 50px 0px 50px 40px;
}
 

.grid-item {
  background-color: white;
  border-radius: 10px;
  height: 350px;
  width: 250px
}